body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Modo claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fefae0; /* Color de fondo */
        color: #283618; /* Color del texto */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form {
        background-color: #606c38; /* Color de fondo del formulario */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: #fefae0; /* Color de texto en el formulario */
        width: 300px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin: 6px 0;
        border: 1px solid #fefae0; /* Color del borde del input */
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #fefae0; /* Color de fondo del input */
        color: #283618; /* Color de texto del input */
    }

    button {
        background-color: #dda15e; /* Color de fondo del botón */
        color: #fefae0; /* Color de texto del botón */
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #bc6c25; /* Color de fondo del botón al pasar el cursor */
    }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #434441; /* Color de fondo en modo oscuro */
        color: #fefae0; /* Color del texto en modo oscuro */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form {
        background-color: #777572; /* Color de fondo del formulario en modo oscuro */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: #fefae0; /* Color de texto en el formulario en modo oscuro */
        width: 300px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin: 6px 0;
        border: 1px solid #434441; /* Color del borde del input en modo oscuro */
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #58534d; /* Color de fondo del input en modo oscuro */
        color: #fefae0; /* Color de texto del input en modo oscuro */
    }

    button {
        background-color: #5a0700; /* Color de fondo del botón en modo oscuro */
        color: #fefae0; /* Color de texto del botón en modo oscuro */
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #380000; /* Color de fondo del botón al pasar el cursor en modo oscuro */
    }
}
