body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form-container{
    text-align: center;
}
.form{
    margin: 0 auto;
    margin-top: 250px;
    border: solid 2px;
    animation: border 5s infinite alternate linear;
    width: 650px;
}
.form button {
    background-color: transparent;
    border: solid 2px; 
    animation: border 5s infinite alternate linear;
    color: white;
}
.input{
    height: 1.5rem;
    border-radius: 10px;
    border: solid black 1px;
}
#result  p{
    border: solid green 1px;
    border-radius: 10px;
}
@keyframes border{
    0%{border-color: white;}
    20%{border-color: #FEE440;}
    40%{border-color: #9B5DE5;}
    60%{border-color: #00BBF9;}
    80%{ border-color: #F15BB5;}
    100%{border-color: #00F5D4;}
}